<!DOCTYPE html>
<html>
<head>
  <title>Bluit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container wrap">
    <div class="row">
      <div class="col-xs-12">
        <header><%= link_to 'BLU.it by ESH', root_path %></header>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <main>
            <%= flash_messages(flash) unless flash.empty? %>
              <!-- BEGIN main content -->
              <%= yield %>
              <!-- END main content -->
          </main>
        </div>
        <div class="col-xs-4">
          <nav id="sidebar">
              <%= link_to '+ Link Post', new_post_path %>
              <%= link_to '+ Text Post', new_post_path(post_type: :text) %>
          </nav>
        </div>
      </div>
    </div>
<div class="push"></div>
  </div>
  <footer>
    Copyright, ya animals. TWENTY FIFTEEN.
  </footer>

  </body>
</html>
